<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Add Team</title>
</head>
<body>
  <h1>Add a team</h1>
  <form action="/teams" method="POST" autocomplete="off">
    <label for="teamId">Team ID</label>
    <input type="number" name="teamId" id="teamId"><br>
    <label for="teamName">Team Name</label>
    <input type="text" name="teamName" id="teamName"><br>
    <label for="abbreviation">Team Name Abbreviation</label>
    <input type="text" name="abbreviation" id="abbreviation"><br>
    <label for="simpleName">Simple Team Name</label>
    <input type="text" name="simpleName" id="simpleName"><br>
    <label for="location">Location</label>
    <input type="text" name="location" id="location"><br>
    <button type="submit">Save Team</button>
  </form>
  <br>
  <a href="/teams">Go back</a>
</body>
</html>