<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title> <%= team.teamName %> </title>
</head>
<body>
  <h1><%= team.teamName %></h1>
  <% players.forEach( player => { %>
    <li>
      <%= player.lastName %>, <%= player.firstName%>
    </li>
  <% }) %>
  <br>
  <a href="/teams">Teams list</a>
</body>
</html>